@import url(""https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet"");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
font-family: 'Lora', serif;
font-size: 18px;

}
h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
a {
	text-decoration: none;
}

h2{
	color: rgb(229, 249, 212)
}

h3{
	color: rgb(244, 159, 180)

}

h4{
	color: black;

}